{% extends "accounts/base.html" %}

{% block title %}Buy SMS{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card p-4" style="max-width: 400px; width: 100%;">
        <h4 class="mb-3 text-center">Buy SMS</h4>

        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Amount (UGX)</label>
                <input type="number" name="amount" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Phone Number</label>
                <input type="text" name="phone" class="form-control" required>
            </div>

            <button class="btn btn-primary w-100">
                Pay & Buy SMS
            </button>
        </form>
    </div>
</div>
{% endblock %}
